<!doctype html>
<html lang="en">

  <head>
    <!-- Google Tag Manager --
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ tag_manager_code }}');</script>
    !-- End Google Tag Manager -->

    <title>Webteam practices</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://assets.ubuntu.com/v1/84489620-picto-knowledge-orange.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/practices/css/styles.css" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) --
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ tag_manager_code }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    !-- End Google Tag Manager (noscript) -->

    <div class="docs-container">
      <header id="navigation" class="p-navigation">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="https://canonical-webteam.github.io/practices">
              <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/84489620-picto-knowledge-orange.svg" alt="The knowledge owl">
            </a>
            <h4 style="padding: 0.5rem 1rem; margin-bottom: 0">Canonical Webteam practices</h4>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links">
            <li class="p-navigation__link"><a href="/practices/">Home</a></li>
            <li class="p-navigation__link"><a href="https://github.com/canonical-webteam/practices" class="p-link--external">GitHub repo</a></li>
            <li class="p-navigation__link"><a href="https://github.com/canonical-webteam/practices/blob/master/CONTRIBUTING.md" class="p-link--external">How to contribute</a></li>
          </ul>
        </nav>
      </header>

      <aside class="p-sidebar" id="navigation">
        <div class="p-sidebar__banner u-hide--medium u-hide--large">
          <i class="p-sidebar__toggle p-icon--menu"></i>
        </div>
        <div class="p-sidebar__content u-hide--small">
          <!--
            This navigation is edited manually.
            Please update it whenever you add, remove or move a document,
            and check and update it whenever you get the opportunity.
          -->
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
              <li class="p-sidebar-nav__item">
                <strong>Coding</strong>
                <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/browser-support">Browser support</a></li>
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/html">HTML</a></li>
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/javascript">JavaScript</a></li>
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/react">React</a></li>
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/stylesheets">Stylesheets</a></li>
                    <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/coding/code-formatting">Code formatting</a></li>
                </ul>
              </li>
              <li class="p-sidebar-nav__item">
                  <strong>Content</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/content/copy-reviews">Copy reviews</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/content/filenames">Filenames</a></li>
                  </ul>
              </li>
              <li class="p-sidebar-nav__item">
                  <strong>Design</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/design/vanilla-design-specs">Vanilla design specs</a></li>
                  </ul>
              </li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/foosball">Foosball</a></li>
              <li class="p-sidebar-nav__item">
                  <strong>Local development</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/local-development/ports">Ports</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/local-development/the-run-script">The run script</a></li>
                  </ul>
              </li>
              <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/podcasts">Podcasts</a></li>
              <li class="p-sidebar-nav__item">
                  <strong>Project management</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/project-management/fibonacci-estimation-guide">Fibonacci estimation guide</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/project-management/stand-ups">Stand ups</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/project-management/zenhub">Zenhub</a></li>
                  </ul>
              </li>
              <li class="p-sidebar-nav__item">
                  <strong>Workflow</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/workflow/deploy">Deploy</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/workflow/github">Github</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/workflow/labels">Labels</a></li>
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/workflow/qa-steps">Qa steps</a></li>
                  </ul>
              </li>
              <li class="p-sidebar-nav__item">
                  <strong>Solutions</strong>
                  <ul class="p-sidebar-nav__list" id="docs-list-unsorted">
                      <li class="p-sidebar-nav__item"><a class="p-link--soft" href="/practices/solutions/documentation">Documentation</a></li>
                  </ul>
              </li>
            </ul>
          </nav>
          <script>
            // Toggle mobile sidebar nav
            var toggle = document.querySelector('.p-sidebar__toggle');
            var sidebarContent = document.querySelector('.p-sidebar__content');

            toggle.addEventListener('click', function(e) {
              toggle.classList.toggle('p-icon--menu');
              toggle.classList.toggle('p-icon--close');
              sidebarContent.classList.toggle('u-hide--small');
            });
          </script>
        </div>
      </aside>

      <main class="p-content" id="main-content">
        <div class="p-strip is-shallow">
          <div class="p-content__row">
            {{ content }}
          </div>
        </div>
        <footer class="p-footer" role="contentinfo">
          <div class="p-content__row u-no-margin--left">
            <div class="col-12">
              <p>&copy; 2018 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
              <nav>
                <ul class="p-inline-list--middot">
                  <li class="p-inline-list__item">
                    <a href="https://www.ubuntu.com/legal" class="p-link--external">Legal info</a>
                  </li>
                  <li class="p-inline-list__item">
                    <a href="https://github.com/canonical-webteam/practices/issues/new" class="p-link--external">Report a bug with this site</a>
                  </li>
                </ul>
                <span class="u-off-screen">
                  <a href="#">Go to the top of the page</a>
                </span>
              </nav>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
